html {
    min-height: 100%;
    background-repeat:no-repeat;
    background: linear-gradient(to top, #ECF0F1, #F2F1EF);
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #6C7A89;
}

.container {
    width: 310px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 25px;
}

.container > .title {
    font-size: 48px;
    margin: 10px 0;
}

.icon {
    width: 153px;
    display: inline-block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a:link, a:visited, a:active {
    color: inherit;
}

a:hover {
    color: #4B77BE;
}
